body{
     
     background: #EDF7F6;
}

.name {width: 100%;
    height: 100px;
    background: #EDF7F6;
   


}

.name .content{
     width: 100%;
    height: 100%;
    position: inherit;
    left: 100%;
}

.name .content .p-1{
    color:#022B3A;
    font-family:'Bitter', serif; 
    font-weight: bolder;
    font-size: 65px;
    transform: skewY(5deg);
    margin-bottom: 0;
}

.name .content .p-2{
    color:#022B3A;
    font-family:'Bitter', serif; 
    font-size: 35px;
    transform: skewY(5deg);
    margin-top: 0;
    margin-bottom: 0;


}
.name .img {
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    height: 180px;
    border-radius: 100%;
    transform: skewY(5deg);
    overflow: hidden;

}

.name .img img {
    width:180px ;
    height: 320px;
}

.info{  
    width: 90%;
    height: auto;
    background: #BFDBF7 ;
    margin: 5% auto;
    padding: 20px;
    

}

.info .tituloSeccion{
    color: #022B3A;
    font-family: 'Bitter', serif;
    font-size: xx-large;
    text-align: center;
    font-family: bolder;
    
}

.info .tituloInfo{
    color: #022B3A;
    font-family:'Bitter', serif; 
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;

}

.info .infoInfo{
    color: #022B3A;
    font-family:'Bitter', serif; 
    font-weight: normal;
    font-size: large;
    display: inline;